.header{
  border: .0625rem solid;
  width: 75rem;
  height: 7.5rem;
  background-color: gray;
  margin: auto;
}

.mainside{
  width: 75rem;
  height: 37.5rem;
  border: .0625rem solid;
  margin: auto;
}

.side{
  width: 15.625rem;
  height: 37.5rem;
  float: left;
  background-color: aqua;
  margin: auto;
}
.main{
  border-style: .0625rem solid;
  width: 50rem;
  height: 37.5rem;
  float: left;
  background-color: azure;
  margin: auto;
}
.side2{
  width: 9.375rem;
  height: 37.5rem;
  float: left;
  background-color: aqua;
  margin: auto;
}
.footer{
  border-style: solid;
  width: 75rem;
  height: 6.25rem;
  background-color: gray;
  clear: left;
  margin: auto;
}